<nav class="navbar navbar-expand-md bg-dark navbar-dark">
  <a class="navbar-brand" >Capstone Demo</a>
  <!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button> -->
  <!-- <div class="collapse navbar-collapse" id="navbarCollapse">
    <ul class="navbar-nav mr-auto">
    </ul>
  </div> -->
</nav>
<!-- <router-outlet>app-main</router-outlet> -->
<app-main></app-main>

<!-- <footer>
  <p  class="text-xs-center">© Copyright 2019. All rights reserved.</p>
</footer> -->
